{{#> app}}
    {{#*inline "content"}}
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-2">
                <img src="/img/shopper1.jpg" class="img-fluid rounded">
            </div>
            <div class="col-md-6 col-lg-4 mb-2">
                <img src="/img/shopper5.jpg" class="img-fluid rounded">
            </div>
            <div class="col-md-6 col-lg-4 mb-2">
                <img src="/img/shopper4.jpg" class="img-fluid rounded">
            </div>
        </div>
    {{/inline}}
{{/app}}
